{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>Instituições</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>Nome
        <th>Login
        <th>Senha
      {%- for user in users %}
      <tr class="success">
        <td><a href="/Admin/Update/{{ user._id }}">{{ user._id}}</a>
        <td >{{ user.name }}
       <td >{{ user.login }}
        <td>{{ user.password }}</td>
        <td><a href="/Admin/Delete/{{ user._id}}">Excluir</td>
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('new') }}" class="btn btn-large btn-primary">Novo Admin</a>
 
 
</div>
{% endblock %}