{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Atualizar Equipamento</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="desc" name="desc" class="input-xlarge"
             value="{{ cat.descricao}}"
            required>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Atualizar</button>
          <a href="{{ url_for('categoria') }}">Voltar</a>
        </div>
    </div>
  </form>
{% endblock %}