{% extends "layout.html" %}
{% block body %}

  <form action="" method=post class="form-horizontal">
    <h2>Criar Equipamento</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="desc" name="desc" class="input-xlarge"
            placeholder="Descrição" value ="{{ request.form.desc }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Criar</button>
        </div>
    </div>
  </form>
{% endblock %}