{% extends "layout.html" %}
{% block body %}
			<form>
				<div id="main" class="container">
				    <h2>Noticias</h2>
					    {%- for post in posts %}
					        <th><h2 class="blog-post-title">{{post.titulo}}</h2>
					        	<p class="blog-post-meta">{{ post.data}}<p>
					        	 {% if g.user.is_authenticated%}
					        	 <table>
					        	 	<tr>
					        	 		<td>
					        				<a class="blog-post-meta" href="/Post/Update/{{ post._id }}">Atualizar - {{ post._id}}</a>
					       				</td>
					       				<td>
					       					&nbsp
					       				</td>
					       				<td>
					        			<a class="blog-post-meta" href="/Post/Delete/{{ post._id}}">Excluir</a>
					        			</td>
					        		</tr>
					        	</table>
					        {% endif%}
					        	<hr>
					        	<p>{{ post.descricao }}</p>
					        <hr>
					     {%- endfor %}
				    <p>
				      <a href="{{ url_for('newpost') }}" class="btn btn-large btn-primary">Novo Post</a>
				</div>
			</form>
{% endblock %}