<!doctype html>
<title>Super Ordem</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
    padding-top: 60px;
    padding-bottom: 100px;
}
</style>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<script src="/bootstrap/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
{% if g.user.is_authenticated %}
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Super Ordem</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li><a href="/Admin">Admin</a></li>
      <li><a href="/Post/Create">Criar Post</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"></span>{{g.user.name}}</a></li>  
      <li><a href="/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
{% endif %}
{% if not g.user.is_authenticated %}
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Super Ordem</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Criar Ordem</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right"> 
      <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% endif %}
  
<div id="main" class="container">
    {% block body %}{% endblock %}
    <hr>
    <footer id="footer">  
    </footer>
</div>