{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Logar Sistema de Ordem </h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="login" name="login" class="input-xlarge"
            placeholder="Digite o Login" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Digite Senha" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Logar</button>
        </div>
    </div>
  </form>
{% endblock %}