{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Novo Post</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="titulo" name="titulo" class="input-xlarge"
            placeholder="Titulo" value="{{ request.form.titulo }}"
            required>
        </div>
    </div>
    <br>
     <div class="control-group">
        <div class="controls">
            <textarea name="descricao" id="descricao" cols="50" rows="5" placeholder="Poste Aqui"></textarea>
        </div>
     </div>
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Criar Post</button>
        </div>
    </div>
  </form>
{% endblock %}