<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Ordens Geradas nos ultimo - {{ dias }} dias por Função</h1>
<h2>de {{ de }} até {{ ate }}</h2>
{% for func in funcs%}
    <hr>
    <h2>{{ func.descricao}}</h2>
    {% for ordem in reports %}
        {% if ordem.funcao == func %}
            <br>
            <table>
                <tr>
                    <td>ID: {{ ordem._id }}</td>
                    <td>&emsp;Data: {{ ordem.data }}</td>
                </tr>
                <hr>
                <tr>
                    <td>Instituição: {{ ordem.instituicao.nome }}</td>
                    <td>&emsp;Função: {{ ordem.funcao.descricao }}</td>
                </tr>
                <hr>
                <tr>
                    <td> Categoria: {{ ordem.categoria.descricao }}</td>
                    <td>&emsp; Equipamento: {{ ordem.equipamento.descricao }}</td>
                </tr>
            </table>
            <hr>
            <br>
            <p >{{ ordem.descricao }}</p>
        {% endif %}
    {% endfor %}
{% endfor %}
</body>
</html>