{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Atualizar Post</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="titulo" name="titulo" class="input-xlarge"
            placeholder="Nome" value="{{ post.titulo }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <textarea id="descricao" name="descricao" class="input-xlarge"
            cols="100" rows="20"
            required>{{ post.descricao }}</textarea>
        </div>
    </div>
  
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Atualizar</button>
        </div>
    </div>
  </form>
{% endblock %}